.bg-orange{
	background-color: map-get($colores, naranja);
}


.mod_titulo{
	border-left: 5px solid map-get($colores,naranja);
	@include estilos(oswald, 60px);
	@media only screen and (max-width: 768px){
		font-size: 30px;
	}
}

.mod_texto{ 
	font-family: noto sans;
}


.flex{ /*centrado de texto index*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-sizing{ /*modificacion tamaño imagen index*/
	@include tamaño(90px, 90px);
}

.pad_botonConocer{
	padding: 5px;
	.mod_botonConocer{
		font-weight: bold;
	@include estilos(noto sans, 20px);
		color: map-get($colores, grisClaro);
		text-decoration: none;
		&:hover{
			background-color: orange;
		}
	}
}